/* Mobile Devices (Max 768px)
--------------------------------------------------------------*/
@media (max-width: 768px) {

    html {
        font-size: 50%;
    }

    header {
        height: 30vh;
    }

    h1 {
        font-size: 2.8rem;
        top: 60%;
    }

    main {
        flex-direction: column;
        height: auto;
        padding: 6rem 2rem;
        gap: 5rem;
    }

    .left,
    .right {
        width: 100%;
    }

    .number {
        font-size: 4rem;
        width: 12rem;
        padding: 2rem 0;
    }

    .guess {
        width: 100%;
        font-size: 3.5rem;
        padding: 1.5rem;
    }

    .btn {
        width: 100%;
        font-size: 1.8rem;
        padding: 1.5rem;
    }

    .right {
        font-size: 1.8rem;
        text-align: center;
    }

    .message {
        margin-bottom: 4rem;
    }

    .between {
        font-size: 1.2rem;
        top: 1rem;
        right: 1rem;
    }

    .again {
        top: 1rem;
        left: 1rem;
        padding: 1rem 1.5rem;
        font-size: 1.4rem;
    }
}


/* Small Phones (Max 480px)
--------------------------------------------------------------*/
@media (max-width: 480px) {

    html {
        font-size: 45%;
    }

    h1 {
        font-size: 2.2rem;
    }

    .number {
        font-size: 3rem;
        width: 10rem;
    }

    .guess {
        font-size: 3rem;
    }
}